<div class="burbujas" >
    <h1 class="row mt-2">Personajes </h1>
    <mat-divider style="margin-bottom: 15px;"></mat-divider>

    <div class="row mt-2">
        <div>
            <mat-form-field class="buscador" >
                <mat-label>Buscar... </mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <input [(ngModel)]="params.name" matInput placeholder="Evil Morty" (input)="BuscarPersonajes();">
            </mat-form-field> 
        </div>
    </div>
    
    <div class="body-contenedor">
        <div class="contenedor-cartas">
                <mat-card class="cartas" *ngFor="let personaje of personajes" appearance="outlined">
                    <img mat-card-image src="{{personaje.image}}" alt="{{personaje.name}}">
                    <mat-card-header>
                    <mat-card-title class="titulo">{{personaje.name}}</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p><br></p>
                    </mat-card-content>
                    <mat-card-actions class="card__text">
                        <button class="button" mat-fab extended (click)="detallePersonaje(personaje);"><mat-icon>description</mat-icon>Descripcion</button>
                    </mat-card-actions>
                </mat-card>
        </div>
    </div>
    <mat-paginator class="paginador" [length]="totalPaginas" [pageSizeOptions]="[20]" (page)="cargarPersonajes($event)" aria-label="Select page"
                    [pageSize]="20"
                [disabled]="false"
                [showFirstLastButtons]="showFirstLastButtons">
    </mat-paginator>
</div>